hl {
	color:red;
}
body{
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color:#EDAEB8;
	color: #000;
}
header {
	background-color : #ffcc00;
	text-align: center;
	padding: 20px;
}
h1 {
	margin: 0;
	color: #333;
	font-size :2.5em;
}
main {
	padding 20px;
}
.wiersz{
	font-style: italic;
	line-height: 1,8;
	background-color: #fef5e7;
	border-left: 5px solid #ffcc00;
	padding: 10px 20px;
	margin: 20px 0;
	border-radius: 5px;
	color: #555;
}
table {
	width: 100%;
	border-collapse: collapse;
	margin: 20px 0;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
table th, table td {
	border: 1px solid #ccc;
	padding: 10px;
	text-align: left;
}
table th {
	background-color: #ffcc00;
	color: #333;
}
ul, ol {
	margin: 0;
	padding: 10px 20px;
}
footer {
	background-color: #333;
	color: #fff;
	text-align: 10px 0;
	font-size: 0.9em:
}
footer a {
	color: #ffcc00;
	text-decoration: none;
}
footer a:hover {
	text-decoration: underline;
}
	